microcontrolador_wiring/node-red.txt
[{"id":"189d89c7.7a8cb6","type":"serial in","z":"81fbfb91.a2cbc8","name":"SerialWiring","serial":"d3bdb24f.0d3b1","x":113.5078125,"y":58,"wires":[["b7349724.07a0f8"]]},{"id":"b7349724.07a0f8","type":"function","z":"81fbfb91.a2cbc8","name":"FormatLectura","func":"var res = {};\nvar tempArray = [];\nvar frecCardiaca = 0;\nvar presionArterial = 0;\nvar nivelEstres = 0;\nvar estado = 1;\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nfrecCardiaca = parseInt(tempArray[0].replace(\"\\r\\n\", \"\"));\npresionArterial = parseInt(tempArray[1].replace(\"\\r\\n\", \"\"));\nnivelEstres = parseInt(tempArray[2].replace(\"\\r\\n\", \"\"));\nif(frecCardiaca > 140 || presionArterial > 140)\n{\n    estado = 3;\n}\nres.topic = \"lectura\";\nres.payload = {};\n\nres.payload = {\"frecuenciaCardiaca\": frecCardiaca, \"presionSanguinea\": presionArterial, \"nivelEstres\": nivelEstres, \"estado\": estado}\n\nreturn res;","outputs":1,"noerr":0,"x":297.5216827392578,"y":80.91317749023438,"wires":[["2d871b72.a10554"]]},{"id":"d66d946d.738b58","type":"inject","z":"81fbfb91.a2cbc8","name":"SensorTime","topic":"roomTime","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":123.5078125,"y":148.125,"wires":[["bb618140.5117c"]]},{"id":"bb618140.5117c","type":"function","z":"81fbfb91.a2cbc8","name":"FormatTime","func":"var res = {};\n\nres.payload = {\"fecha\": new Date(msg.payload)};\nres.topic = \"fecha\";\n\nreturn res;","outputs":1,"noerr":0,"x":291.5771789550781,"y":133.94442749023438,"wires":[["2d871b72.a10554"]]},{"id":"2d871b72.a10554","type":"function","z":"81fbfb91.a2cbc8","name":"Merge","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"fecha\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"lectura\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = {\"fecha\": context.data.sensetime.fecha, \n    \"frecuenciaCardiaca\": context.data.temperature.frecuenciaCardiaca,\n    \"presionSanguinea\": context.data.temperature.presionSanguinea,\n    \"nivelEstres\": context.data.temperature.nivelEstres, \n    \"estado\": context.data.temperature.estado};\n    res.topic = \"lectura\"\n    res.headers = {\"content-type\":\"application/json\"};\n    //res.method = \"POST\";\n    //res.url = \"http://172.24.42.59:9000/lectura/41\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":456.5182189941406,"y":109.24998474121094,"wires":[["c1a85c0a.1d151","fdd85c82.29dae"]]},{"id":"fdd85c82.29dae","type":"http request","z":"81fbfb91.a2cbc8","name":"POST Lectura","method":"POST","ret":"obj","url":"172.24.42.59:9000/lectura/41","tls":"","x":630.5078125,"y":143.38888549804688,"wires":[["b9367149.ca6e1"]]},{"id":"c1a85c0a.1d151","type":"debug","z":"81fbfb91.a2cbc8","name":"Body","active":true,"console":"false","complete":"true","x":787.75,"y":74.1328125,"wires":[]},{"id":"b9367149.ca6e1","type":"debug","z":"81fbfb91.a2cbc8","name":"Body","active":true,"console":"false","complete":"true","x":696.5078125,"y":332.5234375,"wires":[]},{"id":"d3bdb24f.0d3b1","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]